#addLinkForms {
  display: flex;
  justify-content: center;
}

.addInput {
  width: 250px;
  margin: 5px;
  padding: 6px;
}

#createLinkButton {
  padding: 4px;
  margin: 5px;
  background-color: rgb(116, 36, 36);
  color: white;
  height: 32px;
}
